@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Bold.eot');
    src: url('OpenSans-Bold.woff2') format('woff2'),
    url('OpenSans-Bold.woff') format('woff'),
    url('OpenSans-Bold.ttf') format('truetype'),
    url('OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
    url('OpenSans-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-BoldItalic.eot');
    src: url('OpenSans-BoldItalic.woff2') format('woff2'),
    url('OpenSans-BoldItalic.woff') format('woff'),
    url('OpenSans-BoldItalic.ttf') format('truetype'),
    url('OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg'),
    url('OpenSans-BoldItalic?#iefix') format('embedded-opentype');
    font-weight: 400;
    font-style: italic;
  } 
  /* @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bf8pkAp6a.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  } */