@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-BoldItalic.eot');
    src: url('OpenSans-BoldItalic.woff2') format('woff2'),
    url('OpenSans-BoldItalic.woff') format('woff'),
    url('OpenSans-BoldItalic.ttf') format('truetype'),
    url('OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg'),
    url('OpenSans-BoldItalic?#iefix') format('embedded-opentype');
    font-weight: 400;
    font-style: italic;
  }
  